Django
psycopg2-binary
djangorestframework
django-cors-headers
django-filter
django-crispy-forms
django-mathfilters
crispy-tailwind
Pillow
redis
celery
requests
beautifulsoup4
pandas
openpyxl
python-decouple
gunicorn
whitenoise

# Development dependencies
black
flake8
isort
pytest
pytest-django
factory-boy
coverage

XlsxWriter

reportlab

simplejson

python-dateutil
channels
channels-redis
redis
